<div class="div-label-result">
{% if labelresult.cur_state == 1 %}
    NIL
{% elif labelresult.cur_state == 2 %}
    Wrong Mention
{% elif labelresult.cur_state == 5 %}
    Unlinkable
{% elif labelresult.cur_state == 3 %}
    {% if labelresult.is_wrong_span %}
    <i> Wrong Span </i> <br>
    {% endif %}
    {% include "wechat/accountdetail.html" with account=labelresult.account %}
{% elif labelresult.cur_state == 4 %}
    <i> Franchise </i>
{% else %}
    ERROR
{% endif %}
    <div>
    <!--<button type="button" class="btn btn-warning">Delete</button>-->
        <a href="{% url 'wechat:deletelabel' user_article_idx mention.mention_id %}" class="btn btn-warning">Delete</a>
    </div>
</div>
